ENV= #"development" or "production"
LOG_LEVEL= # Options: "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL" (default: "INFO")
DISCORD_BOT_TOKEN= #https://discord.com/developers/applications/
MENTOR_CHANNEL_ID= #Channel ID of where you want mentor's pinged
MENTOR_ROLE_ID= #The mentor role ID to be pinged
HMAC_SECRET= #HMAC secret to be used for authentication
